In [2]:
import csv
import pandas as pd
#import pg8000
import sys
import os
import pathlib2
import lims_sql_query as lsq
from speedml import Speedml
import pixiedust
pixiedust.optOut()
%matplotlib inline

Pixiedust will not collect anonymous install statistics.

In [21]:
home = pathlib2.Path.home()
sml = Speedml('C:/Users/dijonh/Documents/GitHub/SMART_goals/data/mouse_smart_data.csv', 
              'C:/Users/dijonh/Documents/GitHub/SMART_goals/data/human_anno_table.csv', target = None, uid = None)

In [23]:
sml.train.head()

,Unnamed: 0,anno.res_index_label,patched_cell_container,name,recording_date,63x_call
0,0,1.000000,P8S4_180102_351_A01,Chat-IRES-Cre-neo;Ai14-365769.04.02.01,2018-01-02 21:34:44.000,63x go
1,1,0.000000,P8S4_180102_352_A01,Chat-IRES-Cre-neo;Ai14-365769.04.02.02,2018-01-02 21:56:41.000,NaN
2,2,0.745543,P8S4_180102_353_A01,Chat-IRES-Cre-neo;Ai14-365769.05.02.01,2018-01-02 22:49:10.000,NaN
3,3,0.880454,P9S4_180102_401_A01,Pdyn-T2A-CreERT2;Ai14-366659.04.01.01,2018-01-02 21:08:13.000,63x go
4,4,1.000000,P9S4_180102_402_A01,Chat-IRES-Cre-neo;Ai14-365769.03.01.01,2018-01-02 21:48:56.000,63x no go

In [25]:
sml.feature.drop(['Unnamed: 0'])

u'Dropped 1 features with 5 features available.'

In [26]:
sml.train.head()

,anno.res_index_label,patched_cell_container,name,recording_date,63x_call
0,1.000000,P8S4_180102_351_A01,Chat-IRES-Cre-neo;Ai14-365769.04.02.01,2018-01-02 21:34:44.000,63x go
1,0.000000,P8S4_180102_352_A01,Chat-IRES-Cre-neo;Ai14-365769.04.02.02,2018-01-02 21:56:41.000,NaN
2,0.745543,P8S4_180102_353_A01,Chat-IRES-Cre-neo;Ai14-365769.05.02.01,2018-01-02 22:49:10.000,NaN
3,0.880454,P9S4_180102_401_A01,Pdyn-T2A-CreERT2;Ai14-366659.04.01.01,2018-01-02 21:08:13.000,63x go
4,1.000000,P9S4_180102_402_A01,Chat-IRES-Cre-neo;Ai14-365769.03.01.01,2018-01-02 21:48:56.000,63x no go