In [3]:
import csv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime
from scipy import stats
import math
import seaborn as sns
from collections import OrderedDict
%matplotlib inline
import pg8000
import sys
import os
import pathlib2

In [27]:
home = pathlib2.Path.home()
full_path = home/"documents"/"github"/"SMART_goals"/"data"/"human_smart_data.csv"
full_path = str(full_path)
full_path
hdata = pd.read_csv(full_path)

In [28]:
hdata = hdata.set_index('recording_date')

hdata

,anno.res_index_label,patched_cell_container,name,63x_call
recording_date,,,,
2018-01-10,NaN,P8S4_180109_357_A01,H18.03.002.11.06.01,63x no go
2018-01-10,NaN,P9S4_180109_403_A01,H18.03.002.11.04.01,63x no go
2018-01-10,NaN,P2S4_180109_054_A01,H18.03.002.11.03.01,63x go
2018-01-10,NaN,P8S4_180109_358_A01,H18.03.002.11.06.02,63x go
2018-01-10,NaN,P9S4_180109_404_A01,H18.03.002.11.04.02,63x no go
2018-01-10,NaN,P8S4_180109_359_A01,H18.03.002.11.06.03,63x go
2018-01-10,NaN,P9S4_180109_405_A01,H18.03.002.11.04.03,63x no go
2018-01-10,NaN,P8S4_180109_360_A01,H18.03.002.11.06.04,63x go
2018-01-10,NaN,P9S4_180109_406_A01,H18.03.002.11.04.04,63x no go
2018-02-01,NaN,P8S4_180201_353_A01,H18.06.001.11.11.01,63x no go
2018-02-02,NaN,P8S4_180201_354_A01,H18.06.001.11.11.02,63x no go
2018-02-02,NaN,P8S4_180201_355_A01,H18.06.001.11.11.03,NaN
2018-02-02,NaN,P8S4_180201_356_A01,H18.06.001.11.11.04,63x no go
2018-02-02,NaN,P9S4_180201_402_A01,H18.06.001.11.09.01,63x no go
2018-02-02,NaN,P9S4_180201_403_A01,H18.06.001.11.09.02,NaN
2018-02-02,NaN,P9S4_180201_404_A01,H18.06.001.11.09.03,63x no go
2018-02-21,NaN,P9S4_180220_403_A01,H18.03.003.11.11.01,63x no go
2018-02-21,NaN,P1S4_180220_001_A01,H18.03.003.11.02.01,NaN
2018-02-21,NaN,P8S4_180220_357_A01,H18.03.003.11.05.01,NaN
2018-02-21,NaN,P2S4_180220_057_A01,H18.03.003.11.04.01,NaN
2018-02-21,NaN,P9S4_180220_404_A01,H18.03.003.11.11.02,63x no go
2018-02-21,NaN,P1S4_180220_002_A01,H18.03.003.11.02.02,NaN
2018-02-21,NaN,P2S4_180220_058_A01,H18.03.003.11.04.02,NaN
2018-02-21,NaN,P8S4_180220_358_A01,H18.03.003.11.05.02,NaN
2018-02-21,NaN,P9S4_180220_405_A01,H18.03.003.11.11.03,63x go
2018-02-21,NaN,P1S4_180220_003_A01,H18.03.003.11.02.03,63x go
2018-02-21,NaN,P8S4_180220_359_A01,H18.03.003.11.05.03,NaN
2018-02-21,NaN,P1S4_180220_004_A01,H18.03.003.11.02.04,NaN
2018-02-21,NaN,P2S4_180220_059_A01,H18.03.003.11.04.03,NaN
2018-02-21,NaN,P2S4_180220_060_A01,H18.03.003.11.04.04,NaN
...,...,...,...,...
2018-05-19,NaN,PBS4_180518_508_A01,H18.03.011.11.01.02,NaN
2018-05-19,NaN,PBS4_180518_509_A01,H18.03.011.11.01.03,NaN
2018-05-22,NaN,PBS4_180522_502_A01,H18.03.012.11.13.02.01,NaN
2018-05-22,NaN,P8S4_180522_353_A01,H18.03.012.11.11.01.01,NaN
2018-05-22,NaN,PAS4_180522_451_A01,H18.03.012.11.13.01.01,NaN
2018-05-22,NaN,PBS4_180522_503_A01,H18.03.012.11.13.02.02,NaN
2018-05-22,NaN,P2S4_180522_051_A01,H18.03.012.11.07.02.01,NaN
2018-05-22,NaN,P8S4_180522_354_A01,H18.03.012.11.11.01.02,NaN
2018-05-22,NaN,P9S4_180522_404_A01,H18.03.012.11.07.01.01,NaN
2018-05-22,NaN,P2S4_180522_052_A01,H18.03.012.11.07.02.02,NaN
2018-05-22,NaN,PBS4_180522_504_A01,H18.03.012.11.13.02.03,NaN
2018-05-22,NaN,P8S4_180522_355_A01,H18.03.012.11.11.01.03,NaN
2018-05-22,NaN,P2S4_180522_053_A01,H18.03.012.11.07.02.03,NaN
2018-05-22,NaN,P9S4_180522_405_A01,H18.03.012.11.07.01.02,NaN
2018-05-22,NaN,P8S4_180522_356_A01,H18.03.012.11.11.01.04,NaN
2018-05-22,NaN,P2S4_180522_054_A01,H18.03.012.11.07.02.04,NaN
2018-05-22,NaN,P9S4_180522_406_A01,H18.03.012.11.07.01.03,NaN
2018-05-22,NaN,P8S4_180522_357_A01,H18.03.012.11.11.01.05,NaN
2018-05-22,NaN,PBS4_180522_506_A01,H18.03.012.11.13.02.05,NaN
2018-05-22,NaN,P9S4_180522_407_A01,H18.03.012.11.07.01.04,NaN
2018-05-22,NaN,P2S4_180522_055_A01,H18.03.012.11.07.02.05,NaN
2018-05-22,NaN,PBS4_180522_507_A01,H18.03.012.11.13.02.06,NaN
2018-05-22,NaN,P9S4_180522_408_A01,H18.03.012.11.07.01.05,NaN
2018-05-22,NaN,PBS4_180522_508_A01,H18.03.012.11.13.02.07,NaN
2018-05-22,NaN,P2S4_180522_056_A01,H18.03.012.11.07.02.06,NaN
2018-05-22,NaN,P8S4_180522_358_A01,H18.03.012.11.11.01.06,NaN
2018-05-23,NaN,P9S4_180522_409_A01,H18.03.012.11.07.01.06,NaN
2018-05-23,NaN,P8S4_180522_359_A01,H18.03.012.11.11.01.07,NaN
2018-05-23,NaN,P2S4_180522_057_A01,H18.03.012.11.07.02.07,NaN
2018-05-23,NaN,P9S4_180522_410_A01,H18.03.012.11.07.01.07,NaN

In [29]:
hdata = hdata.groupby(['recording_date']).count()

hdata

                anno.res_index_label  patched_cell_container  name  63x_call
recording_date
2018-01-10                         0                       9     9         9
2018-02-01                         0                       1     1         1
2018-02-02                         0                       6     6         4
2018-02-21                         0                      17    17         7
2018-03-12                         0                       2     2         1
2018-03-13                         0                       4     4         3
2018-03-14                         0                      17    17        15
2018-03-20                         0                      15    15        10
2018-03-21                         0                       9     9         8
2018-03-26                         0                       4     4         3
2018-03-27                         0                      18    18        11
2018-03-28                         0                       3     3         3
2018-04-14                         0                       2     2         0
2018-04-18                         0                      32    32        15
2018-04-24                         0                      13    13        11
2018-04-25                         0                      24    24        22
2018-05-09                         0                       2     2         0
2018-05-19                         0                       3     3         0
2018-05-22                         0                      24    24         0
2018-05-23                         0                       4     4         0

In [30]:
hdata['total_pcc'] = hdata['patched_cell_container'].cumsum()

In [31]:
hdata

,anno.res_index_label,patched_cell_container,name,63x_call,total_pcc
recording_date,,,,,
2018-01-10,0,9,9,9,9
2018-02-01,0,1,1,1,10
2018-02-02,0,6,6,4,16
2018-02-21,0,17,17,7,33
2018-03-12,0,2,2,1,35
2018-03-13,0,4,4,3,39
2018-03-14,0,17,17,15,56
2018-03-20,0,15,15,10,71
2018-03-21,0,9,9,8,80
2018-03-26,0,4,4,3,84
2018-03-27,0,18,18,11,102
2018-03-28,0,3,3,3,105
2018-04-14,0,2,2,0,107
2018-04-18,0,32,32,15,139
2018-04-24,0,13,13,11,152
2018-04-25,0,24,24,22,176
2018-05-09,0,2,2,0,178
2018-05-19,0,3,3,0,181
2018-05-22,0,24,24,0,205
2018-05-23,0,4,4,0,209